<app-body>
  <div class="row text-center">
    <div class="col-md-12 py-3">
      <app-card>
        <ng-container *ngIf="ready; else loading">
          <h1>Game Setup</h1>
          <hr>
          <section id="deck-select">
            <h4>
              1. Select a deck.
            </h4>
            <ul class="list-group">
              <ng-container *ngFor="let deck of blockDecks">
                <li class="list-group-item" (click)="selectDeck(deck)">
                  {{deck.title}}
                </li>
              </ng-container>
            </ul>
          </section>
          <hr>
          <section id="mode-select">
            <h4>
              2. Select a mode.
            </h4>
            <ul class="list-group">
              <ng-container *ngFor="let mode of modes">
                <li class="list-group-item" (click)="selectMode(mode)">
                  {{mode.title}}
                </li>
              </ng-container>
            </ul>
          </section>
          <hr>
          <section id="start">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="alert alert-info" *ngIf="!canStartGame">
                  You must select a DECK and MODE to start.
                </div>
                <p>
                  Selected Deck:
                  <strong>
                    <span *ngIf="selectedDeck">{{selectedDeck.title}}</span>
                    <span *ngIf="!selectedDeck">---</span>
                  </strong>
                </p>
                <p>
                  Selected Mode:
                  <strong>
                    <span *ngIf="selectedMode">{{selectedMode.title}}</span>
                    <span *ngIf="!selectedMode">---</span>
                  </strong>
                </p>
                <p>
                  <button class="btn btn-primary btn-block btn-large" (click)="startGame()" [disabled]="!canStartGame">
                    Start Game
                  </button>
                </p>
              </div>
            </div>
          </section>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
