<app-body>
  <div class="row text-center">
    <div class="col-md-12 my-3">
      <app-card>
        <ng-container *ngIf="ready; else loading">
          <section id="header">
            <h2>{{blockDeck.title}} - {{mode.title}}</h2>
            <div class="row justify-content-center">
              <div class="col-md-2 my-2">
                <app-modal-trigger-button [boxId]="'deck-details'" [block]="true">
                  Deck Details
                </app-modal-trigger-button>
              </div>
              <div class="col-md-2 my-2">
                <app-modal-trigger-button [boxId]="'mode-details'" [block]="true">
                  Mode Details
                </app-modal-trigger-button>
              </div>
              <div class="col-md-2 my-2">
                <app-modal-trigger-button [boxId]="'block-list'" [block]="true">
                  Block List
                </app-modal-trigger-button>
              </div>
            </div>
          </section>
          <section id="rules">
            <div class="row mt-3">
              <div class="col-md-8 mx-auto">
                <ul class="list-group">
                  <li class="list-group-item">
                    Standard Penalty: {{mode.standardPenalty}}
                  </li>
                  <li class="list-group-item">
                    Tower Fall Penalty:
                    {{mode.towerFallPenalty}}
                  </li>
                  <li class="list-group-item" *ngIf="blockDeck.deckRule">
                    Deck Rule: {{blockDeck.deckRule}}
                  </li>
                  <li class="list-group-item" *ngFor="let extraRule of mode.extraRules">
                    {{extraRule}}
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <hr>
          <section id="block-select">
            <div class="row">
              <div class="col-md-4 my-2">
                <div class="card card-body bg-dark">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      name="selectedBlockNumber"
                      [(ngModel)]="nextBlockNumber"
                      id="blockNumber"
                      placeholder="Block Number"
                      aria-label="Block Number"
                      aria-describedby="button-addon"
                    />
                    <div class="input-group-append" (click)="selectBlock()">
                      <button
                        class="btn btn-outline-light"
                        type="submit"
                        id="button-addon"
                      >
                <span>
                  <i class="fa fa-arrow-right"></i>
                </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 my-2">
                <div class="card card-body bg-dark text-light" *ngIf="incorrectSelection">
                  <div class="alert alert-warning">
                    <h4>
                      Invalid Number
                    </h4>
                    <hr>
                    <p>
                      Please enter a number between 1 and {{blockDeck.blocks.length}}.
                    </p>
                  </div>
                </div>
                <div class="card card-body bg-dark text-light" *ngIf="selectedBlock">
                  <h4>
                <span *ngIf="selectedBlockNumber">
                  Block {{selectedBlockNumber}}:
                </span>
                    {{selectedBlock.title}}
                  </h4>
                  <hr>
                  <p>
                    {{selectedBlock.rule}}
                  </p>
                </div>
                <div class="card card-body bg-dark text-light" *ngIf="!selectedBlock && !incorrectSelection">
                  <h4>
                    Welcome!
                  </h4>
                  <hr>
                  <p>
                    Pull a block and enter the number on it to begin.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section id="modals">
            <app-modal-box-basic [boxId]="'deck-details'" [title]="'Deck Details'">
              <h4>Deck: {{blockDeck.title}}</h4>
              <p>
                {{blockDeck.description}}
              </p>
              <p *ngIf="blockDeck.deckRule">
                Deck Rule: {{blockDeck.deckRule}}
              </p>
            </app-modal-box-basic>
            <app-modal-box-basic [boxId]="'mode-details'" [title]="'Mode Details'">
              <h4>Mode: {{mode.title}}</h4>
              <p>{{mode.description}}</p>
              <ul class="list-group">
                <li class="list-group-item">
                  Standard Penalty: {{mode.standardPenalty}}
                </li>
                <li class="list-group-item">
                  Tower Fall Penalty:
                  {{mode.towerFallPenalty}}
                </li>
                <li class="list-group-item" *ngFor="let extraRule of mode.extraRules">
                  {{extraRule}}
                </li>
              </ul>
            </app-modal-box-basic>
            <app-modal-box-basic [boxId]="'block-list'" [title]="'Block List'">
              <ul class=" list-group">
                <ng-container *ngFor="let block of blockDeck.blocks; let i = index">
                  <li class="list-group-item" [attr.title]="block.rule">
                    <span class="pull-left">{{i + 1}})</span>
                    {{block.title}}
                  </li>
                </ng-container>
              </ul>
            </app-modal-box-basic>
          </section>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
