<app-header
  [title]="'FiftyFour Blocks'"
></app-header>
<app-body>
  <div class="row justify-content-center">
    <div class="col-md-4 my-3">
      <app-card [title]="'Block List'" [icon]="'fa-cube'">
        <p>
          Block List
        </p>
        <button class="btn btn-secondary" (click)="goToBlockList()">
          Go
        </button>
      </app-card>
    </div>
    <div class="col-md-4 my-3">
      <app-card [title]="'Block Deck List'" [icon]="'fa-cubes'">
        <p>
          Block Deck List
        </p>
        <button class="btn btn-secondary" (click)="goToBlockDeckList()">
          Go
        </button>
      </app-card>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 my-3">
      <app-card [title]="'Donate to Charity'" [icon]="'fa-money'">
        <p>
          Like this free website? Pay it forward to a charity I support.
        </p>
        <a
          class="btn btn-secondary"
          href="https://aoti-app-hub.herokuapp.com/donate"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'More Information'" [icon]="'fa-info-circle'">
        <p>
          Just curious about this site? Get more information about this website.
        </p>
        <button class="btn btn-secondary" (click)="goToInfo()">Info</button>
      </app-card>
    </div>
  </div>
</app-body>
