<nav class="navbar navbar-expand-lg navbar-dark bg-brown">
  <a class="navbar-brand" (click)="goToDashboard()">
    <i class="fa fa-th"></i>
    <span id="app-title">
      FiftyFour Blocks
    </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" (click)="goToDashboard()">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" (click)="goToSetup()">
          <i class="fa fa-th"></i>
          Start
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" (click)="goToExtras()">
          <i class="fa fa-star"></i>
          Extras
        </a>
      </li>
      <li class="nav-item">
        <app-modal-trigger-button [boxId]="'rules'" [alt]="true">
          <i class="fa fa-book"></i>
          Rules
        </app-modal-trigger-button>
      </li>
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="goToProfile()">Your profile</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" (click)="goToAdmin()">Admin panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<app-modal-box-basic [boxId]="'rules'" [title]="'Rules'">
  <app-rule-details></app-rule-details>
</app-modal-box-basic>
