<app-body>
  <div class="row justify-content-center text-center">
    <div class="col-md-6 my-3">
      <app-card [title]="'Extras'">
        <p>
          <button class="btn btn-primary btn-block" (click)="goToRules()">
            Rules
          </button>
        </p>
        <p>
          <button class="btn btn-primary btn-block" (click)="goToBlockList()">
            Block List
          </button>
        </p>
        <p>
          <button class="btn btn-primary btn-block" (click)="goToBlockDeckList()">
            Block Deck List
          </button>
        </p>
        <p>
          <button class="btn btn-primary btn-block" (click)="goToModeList()">
            Mode List
          </button>
        </p>
        <hr>
        <p>
          <a href="https://adam-on-the-internet.github.io/app-hub/donate"
             target="_blank">
            <button class="btn btn-primary btn-block">
              Donate
            </button>
          </a>
        </p>
        <p>
          <button class="btn btn-primary btn-block" (click)="goToAppInfo()">
            App Information
          </button>
        </p>
      </app-card>
    </div>
  </div>
</app-body>
