<p>
  This game can be played with "block tower" games like Jenga or any of its knock-offs.
</p>
<p>
  To use this application, you must number each of the blocks. The game is intended to be played with 54 Blocks
  (hence the name), so the blocks should be numbered 1-54.
</p>
<p>
  To play, sit in a circle around the block tower and have each player take turns removing blocks. When a player
  removes a block, they should read the number and use the application to find out what rule is associated with
  it.
</p>
<p>
  Some blocks give penalties or challenges. Players who fail the challenge or want to skip them can simply take
  a penalty.
</p>
<p>
  Whoever causes the tower to collapse has to take the Tower Fall penalty, a more severe penalty. This usually
  happens
  as someone is pulling out a block on their turn. When it happens while a block is being pulled, ignore the
  block rule and
  just take the Tower Fall penalty.
</p>
<p>
  Typically, this is played as a drinking game with drinks as penalties, but you can do anything you want in
  place of penalties.
</p>
