@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  overflow-x: hidden;
}

img {
  max-width: 300px;
  max-height: 300px;
}

// https://www.pexels.com/photo/set-of-wooden-blocks-for-jenga-game-4473494/
.bg-off {
  background-image: url("./assets/blocks.jpg");
  background-size: cover;
}
