<app-body>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-card [title]="'App Info'" [autoHeight]="false">
        <p>
          This site is a work in progress, currently in Beta. The aim is to have a web client for a physical block-based
          game that will allow players to choose from options to select their 54 rules to match their 54 blocks.
        </p>
        <p>
          This is an Angular app with an Express/NodeJS backend.
        </p>
        <hr/>
        <p>
          This repo for this project can be found on github at
          <a
            target="_blank"
            href="https://github.com/adam-on-the-internet/fiftyfour-blocks"
          >
            https://github.com/adam-on-the-internet/fiftyfour-blocks</a
          >.
        </p>
        <p>
          Check out more of my work at
          <a href="http://adamontheinternet.com" target="_blank"
          >AdamOnTheInternet.com</a
          >.
        </p>
      </app-card>
    </div>
  </div>
</app-body>
